*{
    font-size: 20px;
   
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: dimgrey;
}



nav{
    background-color: #0b090c;
    padding: 10px;
   /*  background-color: orange; */
    
}

.btn{
    background-color:  orange;
    border-color: white;
    color: #0b090c;
}

.btn:hover{
    background-color: #ffa94d;
}